{% extends "layout.html" %}
{% block content %}
    <header id="header" class="bg-dark">
        <div class="container">
            <div class="row height align-items-center">
                <div class='col-md-4'>
                    <img src="{{ url_for('static',filename='img/profile.jpeg') }}" class="rounded img-thumbnail p-2 mt-3 shadow-lg animated rubberBand " width='350px' height='350px' alt="fahis" />
                </div>
                <div class="col-md-8">
                    <h1 class="text-danger text-uppercase font-weight-bold font-italic animated flipInY">
                        <strong>Muhammed Fahis</strong><br>
                        <small class="text-light animation flipInY"><div class='console-container'><.<span id='text'></span><div class='console-underscore' id='console'>&#95;</div> .></div></small>
                    </h1>
                    <p class="text-muted lead py-2 w-75">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita molestiae aliquam ullam vitae omnis, velit et labore culpa? Unde similique beatae officiis labore fugit rerum et praesentium, cumque accusantium ipsa.</p>
                <a href="{{ url_for('portfolio') }}" class="btn btn-outline-primary btn-lg m-2">Portfolio</a>    
                <a href="{{ url_for('contact') }}"" class="btn btn-outline-success btn-lg m-2">Contact</a>    
                </div>
            </div>
        </div>
    </header>
    
    <!-- Skill Section -->
    <section id="Skills" class="py-5 skill-picture">
        <div class="container bg-light rounded shadow-lg">
            <div class="row">
                <div class="col text-center ">
                    <h1 class="display-4 text-uppercase test-dark mb-0">
                        <strong style="font-family: 'Bungee Inline', cursive;">Skills</strong>
                    </h1>
                    <div class="title-underline bg-dark"></div>
                    <!-- <p class="mt-2 text-capitalize text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error ab totam ex voluptatum harum quisquam nobis placeat, libero quos. Magnam eveniet impedit iste repudiandae atque adipisci aut, provident voluptate veniam!</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm my-3">
                    <fieldset class="border border-info border-3 rounded p-2">
                        <div>
                            <legend>Language:</legend>
                                <i class="fab fa-python text-warning"></i> Python
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fab fa-html5 text-primary"></i><i class="fab fa-css3 text-primary"></i> HTML/CSS
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fa fa-database text-info"></i> SQL
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
                                </div>
                                <i class="fab fa-js-square text-danger"></i> Javascript
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                                </div>
                                <i class="fab fa-php text-success"></i> PHP
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
                                </div>
                        </div>
                    </fieldset>

                </div>
            </div>
            <div class="row">
                <div class="col-sm mb-4">
                    <fieldset class="border border-info border-3 rounded p-2">
                        <div>
                            <legend>Software:</legend>
                                <i class="fab fab fa-apple text-dark"></i> Mac OS X
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fab fab fa-windows text-primary"></i> Windows
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fa fa-rocket text-danger"></i> VS Code
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fab fa-microsoft text-info"></i> Microsoft Office
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%">98%</div>
                                </div>
                                <i class="fab fa-adobe text-success"></i> Adobe Photoshop
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%">96%</div>
                                </div>
                        </div>
                    </fieldset>

                </div>
                <div class="col-sm mb-4">
                    <fieldset class="border border-info border-3 rounded p-2">
                        <div>
                            <legend>Tools, Frameworks, and Libraries:</legend>
                                <i class="fa fa-flask text-info"></i> Flask
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                                </div>
                                <i class="fab fa-git text-dark"></i>  <i class="fab fa-github text-dark"></i> Git and GitHub
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                                </div>
                                <i class="fab fa-react text-primary"></i> React JS
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
                                </div>
                                <i class="fab fa-node-js text-warning"></i> Node
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
                                </div>
                                <i class="fab fa-php text-success"></i> Django
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100</div>
                                </div>
                        </div>
                    </fieldset>
                </div>
            </div>  
        </div>
    </section>
    <!-- End of Section -->

    <!-- Project section -->

    <section class="py-5 bg-dark" id="Project">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 text-uppercase text-light mb-0 ">
                    <strong style="font-family: 'Bungee Inline', cursive;">Proj€cts</strong>
                </h1>
                <div  class="title-underline w-25 bg-light"></div>
                <p class="mt-2 text-capitalize text-muted">Here the list of main projects ,which was created by myself.you can download or analyse the project .And give me a remarks :) </p>
            </div>
        </div>
        
        <!-- End Titile -->
        <div class="row">
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3 ">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/nmtiles.png') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize">N.M Tiles</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                        </p>
                        <a href="http://nmtiles.netlify.app/"  target="_blank" class="btn btn-outline-dark text-uppercase"><i class="fab fa-react fa1x text.info"></i> React Js</a>
                    </div> 
                    <div class="card-footer bg-dark d-flex justify-content-around">
                        <a href="https://github.com/MHDFahz/N.M-Tiles"  target="_blank">
                            <i class="fab fa-github fa-2x text-light"></i>
                        </a>
                        <a href="http://nmtiles.netlify.app/"  target="_blank">
                            <i class="fab fa-google fa-2x text-light"></i>
                        </a>
                        <a href="http://nmtiles.netlify.app/"  target="_blank"  target="_blank">
                            <i class="fab fa-react fa-2x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndProject Member -->
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/jio.png') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize">Jio Notification</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                        </p>
                        <a href="https://github.com/MHDFahz/JioFi-Mac-Menu"  target="_blank" class="btn btn-outline-danger text-uppercase"><i class="fab fa-python fa1x text.warning"></i> Python</a>
                    </div> 
                    <div class="card-footer bg-danger d-flex justify-content-around">
                        <a href="https://github.com/MHDFahz/JioFi-Mac-Menu"  target="_blank">
                            <i class="fab fa-github fa-2x text-dark"></i>
                        </a>
                        <a href="https://www.youtube.com/watch?v=q6WzV82H7QY"  target="_blank">
                            <i class="fab fa-youtube fa-2x text-dark"></i>
                        </a>
                        <a href="https://github.com/MHDFahz/JioFi-Mac-Menu"  target="_blank">
                            <i class="fab fa-python fa-2x text-warning"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndTeam Member -->
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/voice1.jpg') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize"> Voice assistant</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                            
                        </p>
                        <a href="https://github.com/MHDFahz/PythonVoiceAssistant"  target="_blank" class="btn btn-outline-warning text-uppercase"><i class="fab fa-python fa1x text.warning"></i> Python</a>
                    </div> 
                    <div class="card-footer bg-warning d-flex justify-content-around">
                        <a href="https://github.com/MHDFahz/PythonVoiceAssistant"  target="_blank">
                            <i class="fab fa-github fa-2x text-dark"></i>
                        </a>
                        <a href="https://github.com/MHDFahz/PythonVoiceAssistant"  target="_blank">
                            <i class="fab fa-google fa-2x text-dark"></i>
                        </a>
                        <a href="https://github.com/MHDFahz/PythonVoiceAssistant"  target="_blank">
                            <i class="fab fa-python fa-2x text-success"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndTeam Member -->
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/flask.png') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize">Blog Web app</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                        </p>
                        <a href="https://github.com/MHDFahz/Python-Flask-Project"  target="_blank" class="btn center btn-outline-secondary text-uppercase"><i class="fab fa-python fa1x text.info"></i> Python</a>
                    </div> 
                    <div class="card-footer bg-secondary d-flex justify-content-around">
                        <a href="https://github.com/MHDFahz/Python-Flask-Project"  target="_blank">
                            <i class="fab fa-github fa-2x text-light"></i>
                        </a>
                        <a href="https://github.com/MHDFahz/Python-Flask-Project"  target="_blank">
                            <i class="fab fa-google fa-2x text-light"></i>
                        </a>
                        <a href="https://github.com/MHDFahz/Python-Flask-Project"  target="_blank">
                            <i class="fab fa-python fa-2x text-warning"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndTeam Member -->
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3 mx-auto">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/assistant.png') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize">Indian Quiz</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                        </p>
                        <a href="https://assistant.google.com/services/a/uid/0000009a7e07ac76?hl=en-US"  target="_blank" class="btn btn-outline-info text-center text-uppercase ">Google action</a>
                    </div> 
                    <div class="card-footer bg-info d-flex justify-content-around">
                        <a href="https://assistant.google.com/services/a/uid/0000009a7e07ac76?hl=en-US"  target="_blank">
                            <i class="fab fa-github fa-2x text-dark"></i>
                        </a>
                        <a href="https://assistant.google.com/services/a/uid/0000009a7e07ac76?hl=en-US"  target="_blank">
                            <i class="fab fa-google fa-2x text-dark"></i>
                        </a>
                        <a href="https://assistant.google.com/services/a/uid/0000009a7e07ac76?hl=en-US"  target="_blank">
                            <i class="fab fa-js fa-2x text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndTeam Member -->
            <!-- Team Member -->
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 my-3 mx-auto">
                <div class="card">
                    <img src="{{ url_for('static',filename='img/assistant.png') }}" alt="member"  class="card-img-top">
                    <h5 class="card-title text-center text-capitalize">Personal Site</h5>
                    <div class="card-text mx-auto">
                        <p>
                        
                        </p>
                        <a href=""  target="_blank" class="btn btn-outline-warning text-uppercase">Press here</a>
                    </div> 
                    <div class="card-footer bg-secondary d-flex justify-content-around">
                        <a href="#"  target="_blank">
                            <i class="fab fa-github fa-2x text-dark"></i>
                        </a>
                        <a href="#"  target="_blank">
                            <i class="fab fa-google fa-2x text-dark"></i>
                        </a>
                        <a href="#"  target="_blank">
                            <i class="fab fa-python fa-2x text-dark"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- EndTeam Member -->
        </div>
    </section>
<!-- End Team section -->


    <!-- About Section -->
    <section id="about" class="bg-dark">
        <div class="container-fluid">
            <div class="row">
                <!-- about img col -->
                <div class="col-md-6 about-picture height-80 body">
                    <div class="clock">
                        <div class="hand hour" data-hour-hand></div>
                        <div class="hand minute" data-minute-hand></div>
                        <div class="hand second" data-second-hand></div>
                        <div class="number number1">1</div>
                        <div class="number number2">2</div>
                        <div class="number number3">3</div>
                        <div class="number number4">4</div>
                        <div class="number number5">5</div>
                        <div class="number number6">6</div>
                        <div class="number number7">7</div>
                        <div class="number number8">8</div>
                        <div class="number number9">9</div>
                        <div class="number number10">10</div>
                        <div class="number number11">11</div>
                        <div class="number number12">12</div>
                    </div>
                </div>
                <!-- about text col -->
                <div class="col-md-6 about-text height-80 px-5 d-flex align-items-center justify-content-center"> 
                    <div class="about-text-center">
                        <!-- Title -->
                        <div class="row shadow-lg">
                            <div class="col text-center">
                                <h1 class="display-4 text-uppercase text-light mb-0">
                                    <strong style="font-family: 'Press Start 2P', cursive;" >Connect </strong>
                                </h1>
                                <div class="title-underline bg-warning"></div>
                                <p class="mt-2 text-capitalize text-muted">Get touch with me</p>
                            </div>
                        </div>
                <!-- End Titile -->
                <!-- single items -->
                        <div class="checkbox-item d-flex mt-5 m-2">
                            <i class="fab fa-instagram fa-3x text-light  mr-3 align-self-center"></i>
                            <a href="https://www.instagram.com/f_a_h_i_z.3/"><code class="text-light lead">f_a_h_i_z.3</code></a>
                        </div>
                <!-- End of single -->
                <!-- single items -->
                        <div class="checkbox-item d-flex m-2">
                            <i class="fab fa-whatsapp fa-3x text-light mr-3 align-self-center"></i>
                            <a href="https://wa.me/918086959369"><code class="text-light lead">91 80-86-959-369</code></a>
                        </div>
                <!-- End of single -->
                <!-- single items -->
                        <div class="checkbox-item d-flex m-2">
                            <i class="fab fa-linkedin fa-3x text-light  mr-3 align-self-center"></i>
                            <a href="https://www.linkedin.com/in/fahiz-mohd/"><code class="text-light lead">fahiz-mohd</code></a>
                        </div>
                <!-- End of single -->
                <!-- single items -->
                        <div class="checkbox-item d-flex m-2">
                            <i class="fab fa-github fa-3x text-light  mr-3 align-self-center"></i>
                            <a href="https://github.com/MHDFahz"><code class="text-light lead">MHDFahz</code></a>
                        </div>
                <!-- End of single -->
                <!-- single items -->
                        <div class="checkbox-item d-flex m-2">
                            <i class="fab fa-google fa-3x text-light mr-3 align-self-center"></i>
                            <code class="text-light lead">fahis.skazi@gmail.com</code>
                        </div>
                <!-- End of single -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    
{% endblock content %}